<a class="button" href="{{url}}" onclick="ga('send', 'event', 'buttons', 'click', '{{ga-event}}');">{{btn-text}} <span class="fa {{icon}}" aria-hidden="true"></span></a>

<a class="button primary" href="{{url}}" onclick="ga('send', 'event', 'buttons', 'click', '{{ga-event}}');">{{btn-text}} <span class="fa {{icon}}" aria-hidden="true"></span></a>

<button class="button" onclick="ga('send', 'event', 'buttons', 'click', '{{ga-event}}');">{{btn-text}} <span class="fa {{icon}}" aria-hidden="true"></span></button>