<div class="rating" data-rating="1">
    <i class="star-1">★</i>
    <i class="star-2">★</i>
    <i class="star-3">★</i>
    <i class="star-4">★</i>
    <i class="star-5">★</i>
</div>
<div class="rating" data-rating="1.5">
    <i class="star-1">★</i>
    <i class="star-2">★</i>
    <i class="star-3">★</i>
    <i class="star-4">★</i>
    <i class="star-5">★</i>
</div>
<div class="rating" data-rating="2">
    <i class="star-1">★</i>
    <i class="star-2">★</i>
    <i class="star-3">★</i>
    <i class="star-4">★</i>
    <i class="star-5">★</i>
</div>
<div class="rating" data-rating="2.5">
    <i class="star-1">★</i>
    <i class="star-2">★</i>
    <i class="star-3">★</i>
    <i class="star-4">★</i>
    <i class="star-5">★</i>
</div>
<div class="rating" data-rating="3">
    <i class="star-1">★</i>
    <i class="star-2">★</i>
    <i class="star-3">★</i>
    <i class="star-4">★</i>
    <i class="star-5">★</i>
</div>
<div class="rating" data-rating="3.5">
    <i class="star-1">★</i>
    <i class="star-2">★</i>
    <i class="star-3">★</i>
    <i class="star-4">★</i>
    <i class="star-5">★</i>
</div>
<div class="rating" data-rating="4">
    <i class="star-1">★</i>
    <i class="star-2">★</i>
    <i class="star-3">★</i>
    <i class="star-4">★</i>
    <i class="star-5">★</i>
</div>
<div class="rating" data-rating="4.5">
    <i class="star-1">★</i>
    <i class="star-2">★</i>
    <i class="star-3">★</i>
    <i class="star-4">★</i>
    <i class="star-5">★</i>
</div>
<div class="rating" data-rating="5">
    <i class="star-1">★</i>
    <i class="star-2">★</i>
    <i class="star-3">★</i>
    <i class="star-4">★</i>
    <i class="star-5">★</i>
</div>