<div id="services" class="image-blocks">
    {{> molecules-image-panel:nutrition|left(panel-one:true, ga-event: "services-nutrition") }}
    {{> molecules-image-panel:fitness|right(panel-two:true, ga-event: "services-training") }}
</div>