 <div id="membership" class="membership-block">
     <div class="panel content">
        {{> molecules-panel-heading(membership-block: true) }}
         <div class="price-comparisons margin-bottom">
             <div class="col margin-right mountainside">
                 {{> molecules-price-table(member-one: true)}}
             </div>
             <div class="col orenda">
                 {{> molecules-price-table(member-two: true)}}
             </div>
             <div class="col margin-left lifetime">
                 {{> molecules-price-table(member-three: true)}}
             </div>
         </div>
         <a class="button" href="#get-started" onclick="ga('send', 'event', 'buttons', 'click', 'price-getstarted')">Get Started <span class="fa fa-chevron-right" aria-hidden="true"></span> </a>
    </div>
</div>