<div id="get-started" class="get-started-block">
    <div class="panel content">
        {{> molecules-panel-heading(get-started-block: true) }}
        <div class="form-container">
            <div class="left">{{> organisms-contact-block}}</div>
            <div class="right margin-left-double no-margin-tablet">
                <div id="info" class="info">
                    {{> molecules-info-links }}
                </div>
                <div id="map" class="map">
                    {{> atoms-map}}
                </div>
            </div>
        </div>
    </div>
</div>