<footer>
    <div class="panel content">
    <span>© Copyright 2016 Orenda Force </span>
    <span><a target="_blank" href="http://www.davidodey.com">UI / UX & Web Design by David ODey</a></span>
        </div>
</footer>