{{# trainer-block }}
    <h2>Our Team</h2>
    <p class="large">We believe every person deserves to perform, look and feel the way they desire. Orenda offers the power for each individual to take charge of their lives and flourish. We assist and guide individuals in achieving their overall health and performance goals.</p>
{{/trainer-block}}
{{# membership-block }}
    <h2>Your Membership</h2>
    <p class="large">We go above and beyond and were not your typical gym. We serve to give you the best personal training, with the best equipment, so you can achieve your goals at a price you can afford. No hidden fees, no contracts, no additional membership dues.</p>
{{/membership-block}}
{{# get-started-block}}
    <h2>Get Started Today</h2>
    <p class="large">No longterm commitments, or contracts, fill out our form, send us an email, give us a call, or drop in and say hi!</p>
{{/get-started-block}}
{{# yelp-block}}
    <h2 class="white">Our Reviews</h2>
    <div class="rating-block">
        <p class="large">Based on 5 Yelp Reviews</p>
        <div class="rating" data-rating="5">
            <i class="star-1">★</i>
            <i class="star-2">★</i>
            <i class="star-3">★</i>
            <i class="star-4">★</i>
            <i class="star-5">★</i>
        </div>
    </div>

{{/yelp-block}}

