<div class="trainer">
    {{#trainer-one}}
        <img src="../../images/{{trainer.one.image}}" alt="{{trainer.one.name}}" class="trainer-img">
        <h3>{{trainer.one.name}}</h3>
        <p>{{trainer.one.desc}}</p>
    {{/trainer-one}}
    {{#trainer-two}}
        <img src="../../images/{{trainer.two.image}}" alt="{{trainer.two.name}}" class="trainer-img">
        <h3>{{trainer.two.name}}</h3>
        <p>{{trainer.two.desc}}</p>
    {{/trainer-two}}
</div>