{{#member-one}}
    <div class="price-table">
        <ul class="competitor">
            <li class="name special">Mountainside Fitness</li>
            <li class="price special">$76 per session</li>
            <li><span class="fa fa-times" aria-hidden="true"></span>No contracts</li>
            <li><span class="fa fa-times" aria-hidden="true"></span>No cancelation fee</li>
            <li><span class="fa fa-times" aria-hidden="true"></span>$43 monthly dues</li>
            <li><span class="fa fa-times" aria-hidden="true"></span>Flexible scheduling</li>
            <li><span class="fa fa-times" aria-hidden="true"></span>24/7 coaching support</li>
            <li><span class="fa fa-check" aria-hidden="true"></span>Nutrition coaching included</li>
        </ul>
    </div>
{{/member-one}}
{{#member-two}}
    <div class="price-table">
        <ul class="competitor orenda">
            <li class="name special"><img src="../../images/logo-nav.png" alt="logo"><span class="text">Orenda Force</span></li>
            <li class="price special"><span class="starts">Starts as low as</span><span>$19 per session</span></li>
            <li><span class="fa fa-check" aria-hidden="true"></span>No contracts</li>
            <li><span class="fa fa-check" aria-hidden="true"></span>No cancelation fee</li>
            <li><span class="fa fa-check" aria-hidden="true"></span>No membership dues</li>
            <li><span class="fa fa-check" aria-hidden="true"></span>Flexible scheduling</li>
            <li><span class="fa fa-check" aria-hidden="true"></span>24/7 coaching support</li>
            <li><span class="fa fa-check" aria-hidden="true"></span>Nutrition coaching included</li>
        </ul>
    </div>
{{/member-two}}
{{#member-three}}
    <div class="price-table">
        <ul class="competitor">
            <li class="name special">Lifetime Fitness</li>
            <li class="price special">$79 - 99 per session</li>
            <li><span class="fa fa-check" aria-hidden="true"></span>No contracts</li>
            <li><span class="fa fa-check" aria-hidden="true"></span>No cancelation fee</li>
            <li><span class="fa fa-times" aria-hidden="true"></span>$99 monthly dues</li>
            <li><span class="fa fa-times" aria-hidden="true"></span>Flexible scheduling</li>
            <li><span class="fa fa-times" aria-hidden="true"></span>24/7 coaching support</li>
            <li><span class="fa fa-check" aria-hidden="true"></span>$99 Nutrition coaching</li>
        </ul>
    </div>
{{/member-three}}

