<ul class="info-links">
    <li><span class="fa fa-mobile fa-2x" aria-hidden="true"></span><span>Call Us: <a href="tel:330-903-0531" onclick="ga('send', 'event', 'buttons', 'click', 'phone-call');">330-903-0531</a></span></li>
    <li><span class="fa fa-envelope fa" aria-hidden="true"></span><span>Email Us: <a href="mailto:koltonm45@gmail.com" onclick="ga('send', 'event', 'buttons', 'click', 'email-link');">koltonm45@gmail.com</a></span></li>
    <li><span class="fa fa-map-marker fa-lg" aria-hidden="true"></span><span class="open-maps"><a target="_blank" href="https://www.google.com/maps/place/Orenda+Force/@33.7424273,-111.9794442,16z/data=!4m13!1m7!3m6!1s0x872b7a409582362f:0x9bee6d1bf42dd92d!2sOrenda+Force!3b1!8m2!3d33.7425671!4d-111.9773909!3m4!1s0x872b7a409582362f:0x9bee6d1bf42dd92d!8m2!3d33.7425671!4d-111.9773909" onclick="ga('send', 'event', 'buttons', 'click', 'address-link');">Open Maps for Directions</a></span><span class="address"><a target="_blank" href="https://www.google.com/maps/place/Orenda+Force/@33.7424273,-111.9794442,16z/data=!4m13!1m7!3m6!1s0x872b7a409582362f:0x9bee6d1bf42dd92d!2sOrenda+Force!3b1!8m2!3d33.7425671!4d-111.9773909!3m4!1s0x872b7a409582362f:0x9bee6d1bf42dd92d!8m2!3d33.7425671!4d-111.9773909" onclick="ga('send', 'event', 'buttons', 'click', 'address-link');">28325 N Tatum Blvd, Cave Creek, AZ 85331</a></span></li>
</ul>