<div class="yelp-review">
    <div class="yelp-content">
        <div class="profile-pic">
            <img src="http://placehold.it/350x350">
        </div>
        <div class="yelper-info">
            <h3>John Doepengrimer</h3>
            <h4>November 14, 2016</h4>
        </div>
        <div class="yelper-rating">
            <div class="rating" data-rating="5">
                <i class="star-1">★</i>
                <i class="star-2">★</i>
                <i class="star-3">★</i>
                <i class="star-4">★</i>
                <i class="star-5">★</i>
            </div>
        </div>
    </div>
    <div class="yelper-review">
        <p class="review-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
    </div>
</div>